<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/results.css">
    </head>
    <body>
        <form action="/search" method="GET">
            <button type="submit">Search Page</button>
        </form>
        <ol>
            <% for (var i=0; i < repos.length; i++) {%>
                <li id="project-title"> <b><%= repos[i].title %></b> </li>
                <ul>
                    <li> <%= repos[i].ownerName %> </li>
                    <li> <%= repos[i].description %> </li>
                    <li><a href=" <%= repos[i].repoURL %> "> <%= repos[i].repoURL %> </a></li>
                </ul>
                </br>
            <% } %>
        </ol>
    </body>
</html>